In [1]:
import pandas as pd

In [2]:
#bank = pd.read_csv("Datasets/bank.csv")
bank = pd.read_csv("preprocessed_datasets/bank.csv")
bank.head()

,age,balance,day,default_bool,housing_bool,loan_bool,y,job_blue-collar,job_entrepreneur,job_housemaid,...,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown,campaign_cleaned,previous_cleaned
0,59,2343,5,0,1,0,1,False,False,False,...,False,True,False,False,False,False,False,True,1.0,0.0
1,56,45,5,0,0,0,1,False,False,False,...,False,True,False,False,False,False,False,True,1.0,0.0
2,41,1270,5,0,1,0,1,False,False,False,...,False,True,False,False,False,False,False,True,1.0,0.0
3,55,2476,5,0,1,0,1,False,False,False,...,False,True,False,False,False,False,False,True,1.0,0.0
4,54,184,5,0,0,0,1,False,False,False,...,False,True,False,False,False,False,False,True,2.0,0.0

In [4]:
X=bank.drop(columns='y')
y=bank['y']
X.to_csv("preprocessed_datasets/bank_data.csv", index=False)
y.to_csv("preprocessed_datasets/bank_target.csv", index=False)

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd

X = pd.read_csv("preprocessed_datasets/bank_data.csv")
y = pd.read_csv("preprocessed_datasets/bank_target.csv").squeeze()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

model = RandomForestClassifier()
model.fit(X_train, y_train)
print(accuracy_score(model.predict(X_test), y_test))

feature_importance_df = pd.DataFrame({
    'Feature': X.columns,
    'Importance': model.feature_importances_
})


feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)
feature_importance_df

0.7255897282770977

                Feature  Importance
1               balance    0.166170
0                   age    0.147238
2                   day    0.129008
38     campaign_cleaned    0.070471
36     poutcome_success    0.039792
23      contact_unknown    0.035484
39     previous_cleaned    0.035335
4          housing_bool    0.029763
37     poutcome_unknown    0.019184
19  education_secondary    0.018963
17      marital_married    0.018257
5             loan_bool    0.017810
14       job_technician    0.016163
20   education_tertiary    0.015772
31            month_may    0.015635
18       marital_single    0.015103
9        job_management    0.015014
6       job_blue-collar    0.014869
24            month_aug    0.014277
28            month_jul    0.013702
29            month_jun    0.012527
32            month_nov    0.012002
22    contact_telephone    0.011307
33            month_oct    0.011275
12         job_services    0.010854
30            month_mar    0.010258
26            month_feb    0.009883
11    job_self-employed    0.008117
10          job_retired    0.007949
34            month_sep    0.007685
27            month_jan    0.007543
21    education_unknown    0.007285
15       job_unemployed    0.006297
7      job_entrepreneur    0.005881
8         job_housemaid    0.005753
35       poutcome_other    0.005239
13          job_student    0.004667
3          default_bool    0.003433
25            month_dec    0.002211
16          job_unknown    0.001822